body {
  width: 40em;
  margin: 1in auto;
}

h1 {
  font-family: sans-serif;
}

p {
  font-size: 18px;
}

#doors {
  width: 100%
  display: grid; 
  grid-template-columns: repeat(3, 1fr)
  gap: 10px;
}

div div {
  border: 1px solid black;
  height: 100px;
}