body {
  width: 40em;
  margin: 1in auto;
}

h1 {
  font-family: sans-serif;
}

p {
  font-size: 18px;
}



.button,
.buttontwo,
.buttonthree,
.buttonfour {
  background-color: #d7d8d9;
  border: none;
  color: white;
  padding: 15px 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
  
}

.rectangle {
  background-color: #76c0e8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32%;
  height: 100%;
}

body {
  background-color: #91d1d5
}
input {
  width: 12%;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}

#next {
  visibility: hidden;
  background-color: yellow;
  border: none;
  margin-left: 80%;
  width: 15%;
  font-size: 20px;
}
image {
  width: 50%;
}
