body {
  width: 40em;
  margin: 1in auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.show {
  visibility: visible;
}

#start {
  visibility: visible;
}
#start #title {
  text-align: center;
  color: rgb(2, 5, 10);
  -webkit-text-stroke: 2px white;
}
#start #yellow-banner {
  text-align: center;
  border: 10px solid #fff;
  background-color: #0072ec ;
  border-radius: 25px;
}
#start #red-banner {
  text-align: center;
  border: 10px solid #fff;
  background-color: #02cea5;
  border-radius: 25px;
}
#start h3 {
  cursor: pointer;
  text-align: center;
  margin-top: 10%;
  border: 0;
  border-radius: 25px;
  background-color: #fff;
  text-decoration: none;
  color: black;
}
h1 {
  font-family: sans-serif;
}

p {
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button,
.buttontwo,
.buttonthree,
.buttonfour {
  background-color: white;
  border: none;
  color: white;
  padding: 15px 180px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 30px;
  margin: 55px auto;
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button, .buttontwo, .buttonthree, .buttonfour {border-radius: 12px;}

.rectangle {
  padding: 2%;
  background-color:#afd8e5  ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/80/Collection-national-flags.png");
}

input {
  width: 12%;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}

#next {
  visibility: hidden;
  background-color: yellow;
  border: none;
  margin-left: 80%;
  width: 15%;
  font-size: 25px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
