body {
  width: 40em;
  margin: 1in auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.show {
  visibility: visible;
}

#start {
  visibility: visible;
}
#start #title {
  text-align: center;
  color: darkcyan;
  -webkit-text-stroke: 2px white;
}
#start #yellow-banner {
  text-align: center;
  border: 10px solid #fff;
  background-color: yellow;
  border-radius: 25px;
}
#start #red-banner {
  text-align: center;
  border: 10px solid #fff;
  background-color: red;
  border-radius: 25px;
}
#start h3 {
  cursor: pointer;
  text-align: center;
  margin-top: 20%;
  border: 0;
  border-radius: 25px;
  background-color: #fff;
  text-decoration: none;
  color: black;
}
h1 {
  font-family: sans-serif;
}

p {
  font-size: 18px;
}

.button,
.buttontwo,
.buttonthree,
.buttonfour {
  background-color: #d7d8d9;
  border: none;
  color: white;
  padding: 15px 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
}

.rectangle {
  padding: 2%;
  background-color: #33ccff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 100%;
}

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/80/Collection-national-flags.png");
}

input {
  width: 12%;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}

#next {
  visibility: hidden;
  background-color: yellow;
  border: none;
  margin-left: 80%;
  width: 15%;
  font-size: 20px;
}
image {
  width: 50%;
}